.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto 80px;
}
.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.sidebar {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}